.top-bar {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 200px;
}

.visualizer-header {
  background: rgba(24, 16, 42, 0.82); /* Glassy purple-black */
  border-radius: 18px;
  border: 2px solid rgba(168, 85, 247, 0.32); /* Outline */
  backdrop-filter: blur(8px); /* Glass effect */
  padding: 22px 32px;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visualizer-title {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(120deg, #a855f7 0%, #ec4899 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 7px;
}
